:root {
    --darkRed: #A62639;
    --lightRed: #DB323D;
    --lightGray: #56494E;
    --white: #E0DEDE;
    --black: #121212;
}

.leaflet-popup-content-wrapper, .leaflet-popup.tip {
    background-color: #56494E !important;
    color: #E0DEDE !important;
}

html, body {
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--white);
}

a {
    text-decoration: none;
    color: white;
}

#navigation-desktop {
    position: fixed;
    top: 0;
    z-index: 1;
}

#navigation-desktop ul {
    margin: 0;
    padding: 0;
}

#navigation-desktop .content ul li{
    display: inline;
    text-align: center;
}

#navigation-desktop .content ul li a, .content ul button {
    display: block;
    height: 39px;
    padding-top: 20px;
    font-size: large;
    text-transform: uppercase;
    -moz-transition: .5s linear;
    -webkit-transition: .5s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
}

li {
    list-style-type: none;
}

#navigation-desktop .content ul li,.content ul button {
    display: inline;
    float: left;
    width: 100%;
    padding-top: 1px;
}

#navigation-desktop .content ul button {
    background-color: Transparent;
    border: 0;
    color: var(--white);
}

#navigation-desktop a:hover, button:hover {
    color: #be2d3c;
    text-decoration: underline white 2px;
    text-underline-offset: 10px;
}

#btns2 {
    margin-top: 400px;

}

#map_nav{
    display: inline-flex;
    width: 100%;
    background: var(--darkRed);
    color: var(--white);
    font-weight: bolder;
    height: 5.5vh;
}

#map_nav button{
    width: 15rem;
    height: 2.5rem;
    margin: 0.5rem 0.5rem;
    background-color: var(--lightRed);
    border-radius: 0.5rem;
    display: flex;
    border: none;
    color: var(--white);
    font-weight: bold;
}

#map_nav img{
    margin-left: 0.25rem;
    margin-top: 0.75rem;
    width: 1rem;
}

#map_nav button p{
    margin-top: 0.85rem;
    margin-left: 0.25rem;
    padding: 0;
}

#map_main {
    display: grid;
    grid-template-columns: 75% 25%;
    height: 100%;
}

#map_div {
    grid-column: 1;
    width: 100%;
    height: 94.5vh;
}

#ticket_list{
    margin: 0;
    gird-column: -1;
    width: 100%;
    background: var(--white);
}
