:root {
    --darkRed: #BE2D3C;
    --lightRed: #DB323D;
    --lightGray: #282525;
    --white: #E0DEDE;
    --black: #121212;
}

html {
    background-color: var(--white);
    font-family: Bahnschrift, serif;
    scroll-behavior: smooth;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

.content {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

#navigation-desktop {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--darkRed);
    z-index: 1;
}

#navigation-desktop ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#navigation-desktop ul li {
    float: left;
}

#navigation-desktop ul button {
    float: right;
    font-weight: bold;
    height: 39px;
    margin-top: 10px;
    font-size: large;
    text-transform: uppercase;
    -moz-transition: .5s linear;
    -webkit-transition: .5s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
    background-color: Transparent;
    border: 0;
    color: var(--white);
}

#navigation-desktop ul li a {
    display: block;
    color: var(--white);
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    height: 39px;
    padding: 0 16px 14px;
    margin-top: 20px;
    font-size: large;
    text-transform: uppercase;
    -moz-transition: .5s linear;
    -webkit-transition: .5s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
}

#navigation-desktop .content ul button:hover {
    color: var(--black);
    text-decoration: underline white 2px;
    text-underline-offset: 10px;
}

#navigation-desktop .content a:hover {
    color: var(--black);
    text-decoration: underline white 2px;
    text-underline-offset: 10px;
}

#navigation-desktop .content ul button:last-child {
    border-right: 3px solid var(--white);
}

#slideshow img {
    margin: auto;
    display: block;
}

#slideshow .slide {
    display: none;
}

#dots {
    width: 100%;
}

#dots .dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    background-color: #121212;
    color: #fff;
    display: inline-block;
    padding: 0;
    text-align: center;
    border-radius:50%;
}

#btns2 {
    margin-top: 1500px;
}