*{
    list-style: none;
}

html {
    min-width: 768px;
    max-width: 1920px;
}

body {
    margin: auto;
    font-size: 14px;
    color: #898989;
}

.content {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px 0 20px;
}

section {
    padding-top: 60px;
    padding-bottom: 80px;
}

section,
header,
footer {
    width: 100%;
}

h2 {
    font-size: 40px;
    text-transform: uppercase;
    color: black;
}

h3 {
    font-size: 24px;
}

*,
*:focus,
*:hover {
    /* odkazy budou vypadat normalne */
    outline: none;
}
/* ******************************** 1/5 ***************************** */

#services h3 {
    color: black;
}

#services {
    min-width: 300px;
}

#services .content>div {
    /* div ktere jsou potomky .contentu */
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 30px;
    justify-content: center;
    justify-items: center;
}

#services {
    text-align: center;
}

.services-card img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #d28d8d;
    margin: 20px auto auto;
    padding: 5px;
}

.services-card {
    cursor: pointer;
    /* flex na vytvoreni mezer v cards a rozhrani */
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    width: 150px;
    box-shadow: 0 0 10px 0 #bfbfbf;
    text-align: center;
    border-radius: 5px;
}

.services-card:hover {
    box-shadow: 0 0 10px 0 #d28d8d;
}

/* serazeni karet aby sedely na jejich pozice */

.services-card img:first-child {
    display: block;
}

.services-card:hover img:first-child {
    display: none;
    background-color: #d28d8d;
}

.services-card img:last-child {
    display: none;
}

.services-card:hover img:last-child {
    background-color: #d28d8d;
    display: block;
}
/* ******************************* BUTTON ************************** */

#buttonProfileTickets {
    width: 200px;
    background-color: rgba(141, 204, 156, 0);
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    display: inline-block;
    border: 1px;
}

#buttonProfileTickets:hover {
    background-color: #8dcc9c;
    transition: 200ms ease-in-out;
}
/* ******************************* BUTTON ************************** */
#services .only_four .content>div {
    /* div ktere jsou potomky .contentu */
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
    justify-content: center;
    justify-items: center;
}
/* ******************************* BUTTON ************************** */
/* ******************************** 1/5 ***************************** */
/* ******************************** 2/5 ***************************** */
#photo_mode{
    border-style: dashed;
    max-width: 500px;
    max-height: 500px;
    height: 100%;
    width: 100%;
    color: #a62e2e;
    text-align: center;
    position: relative;
    padding: 200px;
    cursor: pointer;
    background-color: #acbabd;
}
.photo_mode_h{
    color: black;
    font-size: 20px;
}
.photo_mode_img{
    padding-bottom: -10px;
    width: 30px;
    margin-right: 10px;
}
/* ******************************** 2/5 ***************************** */
/* ******************************** 3/5 ***************************** */
form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

#contact-subject:hover,
#contact-message:hover {
    border-color: green;
}

#contact-subject {
    /* od konec prvniho po zacatek prvniho sloupce */
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid steelblue;
    border-radius: 5px;
    color: steelblue;
    grid-column: 1/-1;
}

#contact-message {
    border: 2px solid steelblue;
    border-radius: 5px;
    color: steelblue;
    /* od konec prvniho po zacatek prvniho sloupce */
    grid-column: 1/-1;
}

#contact-submit {
    padding: 10px;
    /* od konec prvniho po zacatek prvniho sloupce */
    grid-column: 1;
    border: 2px solid steelblue;
    border-radius: 5px;
    background-color: steelblue;
    color: white;
    max-width: 150px;
    text-align: center;
    /* tlacitko do stredu */
}

#contact-submit:hover {
    border-color: green;
    background-color: green;
}
/* ******************************** 4/5 ***************************** */
/* ******************************** 5/5 ***************************** */

/* ******************************** 5/5 ***************************** */
