/* *************************** BODY ***************************** */
*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
body {
    display: flex;
    min-width: 768px;
    max-width: 1920px;
    align-items: center;
    justify-content: center;
}
.content {
    width: auto;
    margin: auto;
    padding: 0 20px 0 20px;
}
main .all {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

#user_profile {
    margin: 0;
    grid-column: 2;
    max-width: 600px;
}
#side_bar {
    grid-column: 1;
    max-width: 200px;
    margin-right: 200px;
}
#edit_profile {
    grid-column: 2;
    max-width: 200px;
}
/* *************************** BODY ***************************** */
/* *************************** CHECKBOX EDIT PROFILE ***************************** */
.container {
    padding: 1rem;
}

.title {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #374151;
    padding-bottom: 11px;
}

.form-group {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}

.textarea-group label,
.form-group label {
    color: #374151;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;

}

.form-group [type],
.textarea-group textarea {
    padding: 15px;
}
.form-group [type]:hover,
.textarea-group textarea:hover {
    border-color: #a8afb9;
    border-radius: 5px;
}
.form-group [type]:focus,
.textarea-group textarea:focus {
    border-color: #eb50a0;
}

.textarea-group {
    margin-top: 24px;
}

.textarea-group textarea {
    resize: none;
    width: 100%;
    margin-top: 10px;
    height: calc(100% - 59px);
}

.checkbox_group_edit {
    margin-top: 25px;
}

.checkbox_group_edit label {
    display: flex;
}

.checkbox_group_edit label::before {
    content: "\0020";
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border: 1px solid #d2d6db;
    border-radius: 10px;
    transition: background 0.1s ease-in;
}

.checkbox_group_edit input[type="checkbox"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.checkbox_group_edit input[type="checkbox"]:focus + label:before {
    border-color: #5850eb;
}
.checkbox_group_edit input[type="checkbox"]:checked + label:before {
    color: #fff;
    content: "\2713";
    background: #5850eb;
    border-color: #5850eb;

}

.button {
    text-transform: uppercase;
    font-weight: bold;
    line-height: 19px;
    background: #5850eb;
    border: none;
    padding: 15px 25px;
    border-radius: 10px;
    color: white;
    width: 100%;
    margin-top: 24px;
}
.button:hover {
    background: #6e67ee;
}
.button:focus {
    background: #4239e8;
}

@media screen and (min-width: 768px) {
    .container {
        border-radius: 4px;
        padding: 2rem;
    }
}
@media screen and (min-width: 1024px) {
    .container {
        max-width: 80%;
        width: 100%;
    }

    .grid {
        display: grid;
        grid-gap: 24px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 1fr;
    }

    .email-group {
        grid-column: 1;
        grid-row: 2;
    }

    .phone-group {
        grid-column: 2;
        grid-row: 2;
    }

    .textarea-group {
        grid-column: 3;
        grid-row: span 2;
        margin-right: 2rem;
    }

    .button_container_edit {
        text-align: right;
    }

    .button {
        width: 100%;
    }
}

/* *************************** CHECKBOX EDIT PROFILE ***************************** */
/* *************************** SIDE BAR ***************************** */

.wrapper{
    background: rgb(5, 68, 104);
    top: 0;
    left: 0;
    width: 225px;
    height: 400px;
    padding: 20px 0;
    transition: all 0.5s ease;
}

.wrapper .profile{
    margin-bottom: 30px;
    text-align: center;
}

.wrapper .profile img{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
}

/* FIXME: */
.wrapper .profile img a:hover{
    width: 140px;
    transition: all 0.5s ease;
}

.wrapper .profile h3{
    color: #ffffff;
    margin: 10px 0 5px;
}

.wrapper ul li a{
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #10558d;
    color: rgb(241, 237, 237);
    font-size: 16px;
    position: relative;
}

.wrapper ul li a .icon{
    color: #dee4ec;
    width: 30px;
    display: inline-block;
}

.wrapper ul li a:hover,
.wrapper ul li a.active{
    background: #a62e2e;
    border-right: 2px solid rgb(5, 68, 104);
    transition: all 0.5s ease;
}

.wrapper ul li a:hover .icon,
.wrapper ul li a.active .icon{
    color: #0c7db1;
}

.wrapper ul li a:hover:before,
.wrapper ul li a.active:before{
    display: block;
}
/* *************************** SIDE BAR ***************************** */
/* *************************** TICKET TABLE ***************************** */
#price table {
    width: 400px;
    margin:0px;
    border-spacing: 0px 20px;
    line-height: 20px;

}

#price {
    background-color: #f7f7f7;
    max-width: 500px;
}

#price h2 {
    text-align: center;
    color: black;
    text-transform: none;
}

#price td {
    padding: 10px;
    border-top: 1px dotted #bfbfbf;
    border-bottom: 1px dotted #bfbfbf;
    border-top: 1px dotted #bfbfbf;
}

#price button {
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid steelblue;
    padding: 20px;
    position: fixed;
}

#price button:hover {
    background-color: steelblue;
    transition: .5s;
}

#price thead {
    color: black;
    text-align: left;
    margin-left: -40px;
}

#price ul li:first-child {
    font-weight: bolder;
    list-style-type: none;
    margin-left: -18px;
}

#price tbody tr:hover,
#price ul li:first-child:hover {
    background-color: white;
    color: steelblue;
    transition: .5s;
}

.ticket_img_small{
    width: 100px;
    border-radius: 10px;
}
.ticket_img_small:hover{
    transform: scale(1.2);
    transition: 200ms ease-in-out;
}
.pop-up-image{
    position: fixed;
    top: 0;left: 0;
    background:rgba(0,0,0,.9);
    height: 400px;
    z-index: 100;
}

.pop-up-image span{
    position: absolute;
    top: 0; right: 10px;
    cursor: pointer;
    z-index: 100;
}

.pop-up-image img{
    position: absolute;
    top: 50%; left: 50px;
    transform: translate(-50%, -50%);
    width: 700px;
    object-fit: cover;
}
/* *************************** TICKET TABLE ***************************** */
/* *************************** POPUP LOGIN ***************************** */
*, *::after, *::before {
    box-sizing: border-box;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 15px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}
/* *************************** POPUP LOGIN ***************************** */
